html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vw; /* this is the important part*/
  font-family: "Lato", sans-serif;
  color: #fff;
}

.glass-light {
  background-color: rgba(250, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  color: #000;
}

.glass-dark {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  color: #fff;
}
