html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vw; /* this is the important part*/
  font-family: "Lato", sans-serif;
  color: #fff;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.glass {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  color: #000;
}
